![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [5]:
ejer_1 = [1,2,3,4,5]

ejer_1.reverse()

print(ejer_1)

[5, 4, 3, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [25]:
al_cuadrado = [num ** 2 for num in ejer_1]
print(al_cuadrado)

[25, 16, 9, 4, 1]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [30]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

lista_nueva1 = ejer_3_1[0] + ejer_3_2[0]
lista_nueva2 = ejer_3_1[0] + ejer_3_2[1]
lista_nueva3 = ejer_3_1[1] + ejer_3_2[0]
lista_nueva4 = ejer_3_1[1] + ejer_3_2[1]

lista_completa = lista_nueva1,lista_nueva2,lista_nueva3,lista_nueva4

print(lista_completa)

('HolaQue', 'Holatal', 'amigoQue', 'amigotal')

## Ejercicio 4
Dada la siguiente lista, encuentra el índice del valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [32]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]
indice = ejer_4.index(45)
ejer_4[indice] = 0

print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90]

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [34]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
lista_sin_3 = []

for num in ejer_5:
    if num != 3:
        lista_sin_3.append(num)
print(lista_sin_3)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y ultimo elemento de la tupla del apartado 3. Usa `len` para el ultimo
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [41]:
tupla1 = (1,2,2)
tupla2 = (1,)
print(type(tupla2))
tupla3 = ([1,2,3],{4,5,6},{'coche':'audi'})
print(tupla3[0])
print(tupla3[-1])
tupla_nueva = list(tupla3)
tupla_nueva.append(tupla1)
tupla_nueva.remove({4,5,6})
print(tuple(tupla_nueva))

<class 'tuple'>
[1, 2, 3]
{'coche': 'audi'}
([1, 2, 3], {'coche': 'audi'}, (1, 2, 2))

## Ejercicio 7
Concatena todos los elementos de la tupla en un unico string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [33]:
ejer_7 = ("cien", "cañones", "por", "banda")
lista_tupla = list(ejer_7)

a = ' '.join(lista_tupla)
print(a)

cien cañones por banda

<!-- ## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)``` -->

In [88]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

l_tupl = list(ejer_8)
print(l_tupl[2])
print(l_tupl[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posicion 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [102]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)
#lista_ejer9 = list(ejer_9)

ejer_9.count(3)
ejer_9[5::]
print(len(ejer_9))

26

## Ejercicio 10
Comprueba si el numero 60 esta en la tupla del ejercicio 9

In [103]:
60 in ejer_9

False

## Ejercicio 11
1. Convierte la tupla del apartado 10 en una lista
2. Convierte la tupla del apartado 10 en un set
3. Convierte la tupla del apartado 10 en un diccionario. Usa también los indices

In [111]:
a = list(ejer_9)
set(ejer_9)
diccionario = {i: ejer_9[i] for i in range(len(ejer_9))}

print(diccionario)

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

## Ejercicio 12
Convierte la siguiente lista en un diccionario
> ```ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

In [115]:
ejer_12 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
diccionario = {}
for clave,valor in ejer_12:
    if clave not in diccionario:
        diccionario[clave] = []
    diccionario[clave].append(valor)

print(diccionario)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

## Ejercicio 13
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave con el valor de 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un unico for
> ```ejer_13 = {4:78, 2:98, 8:234, 5:29}```

In [4]:
ejer_13 = {4:78, 2:98, 8:234, 5:29}

lista_ejer13 = list(ejer_13)
lista_ordenada = lista_ejer13.sort()
print(lista_ejer13)

v = ejer_13.values()
ordenada_v = list(v)
ordenada_v.sort()
print(ordenada_v)

ejer_13[10] = 'Messi'
print(ejer_13)

print(ejer_13[2])

for clave,valor in ejer_13.items():
    print(f'la clave es: {clave} y el valor: {valor}')

[2, 4, 5, 8]
[29, 78, 98, 234]
{4: 78, 2: 98, 8: 234, 5: 29, 10: 'Messi'}
98
la clave es: 4 y el valor: 78
la clave es: 2 y el valor: 98
la clave es: 8 y el valor: 234
la clave es: 5 y el valor: 29
la clave es: 10 y el valor: Messi

## Ejercicio 14
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_14_1 = {1: 11, 2: 22}```
>
> ```ejer_14_2 = {3: 33, 4: 44}```

In [6]:
ejer_14_1 = {1: 11, 2: 22}
ejer_14_2 = {3: 33, 4: 44}
ejer_14_1.update(ejer_14_2)

print(ejer_14_1)

{1: 11, 2: 22, 3: 33, 4: 44}

## Ejercicio 15
Suma todos los valores del dicionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [9]:
ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
vacia = []
for valor in ejer_15.values():
    vacia.append(valor)
sum(vacia)

165

## Ejercicio 16
Multiplica todos los valores del diccionario
> ```ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

In [28]:
ejer_16 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}
vacia = 1
for valor in ejer_16.values():
    vacia = vacia * valor
print(vacia)

19326120

In [17]:
mult = [valor*valor for valor in ejer_16.values()]
print(mult)

[121, 484, 1089, 1936, 3025]

## Ejercicio 17
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el utlimo elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`

In [32]:

set = {10,20,30}
set.add(15)
print(set)
set.pop()
print(set)
set.discard(20)
print(set)

{10, 20, 30, 15}
{20, 30, 15}
{30, 15}